set  _ENDIAN little
set _TAP_TYPE 1234

if { [info exists CPUTAPID] } {
   set _CPUTAPID $CPUTAPID
} else {
  # set useful default
   set _CPUTAPID 0x00360A79
}

set cpu_count 1
set instr_addr 0x00001000
set workspace $::env(workspace_loc)

adapter_khz 800
adapter_nsrst_delay 260
jtag_ntrst_delay 250

set _CHIPNAME fpga_spinal
jtag newtap $_CHIPNAME bridge -irlen 5 -ircapture 0x5 -irmask 0xF

for {set i 0} {$i < $cpu_count} {incr i} {
    target create $_CHIPNAME.cpu$i vexriscv -endian $_ENDIAN -chain-position $_CHIPNAME.bridge -coreid $i -dbgbase [expr $i*0x1000+0x10B80000] -work-area-phys 0xF9000000 -work-area-size 1024
    vexriscv readWaitCycles 40
    vexriscv cpuConfigFile $workspace/cpu$i.yaml
    vexriscv jtagMapping 8 8 0 1 2 2
}

for {set i 0} {$i < $cpu_count} {incr i} {
    targets $_CHIPNAME.cpu$i
    poll_period 50
    init
    #soft_reset_halt
    halt
}

if { [info exists RUN_SMP_APP] } {
    targets $_CHIPNAME.cpu0
    
    load_image $workspace/software/standalone/smpDemo/build/smpDemo.bin $instr_addr
    
    set i $cpu_count
    incr i -1
    for {} {$i >= 0} {incr i -1} {
        targets $_CHIPNAME.cpu$i
        reg x10 0
        reg x11 0
        resume $instr_addr
    }
    puts "Start running smpDemo apps"

}
